@using TravelGuide.Common

@{
    this.ViewData["Title"] = "Restaurant Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thank you for submitting a request to become a part of our hoteliers community! Your request is currently being reviewed!</h1>
</div>
<hr />