@model AllRestaurantsViewModel

@{
    this.ViewData["Title"] = "My Restaurants";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<hr />
<div>
    <h3>Page @Model.PageNumber</h3>
    <div class="row row-cols-1 row-cols-md-3">
        @foreach (var restaurant in Model.Restaurants)
        {
            <partial name="_RestaurantInListPartial" model="restaurant" />
        }
    </div>
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />