@using TravelGuide.Common

@{
    this.ViewData["Title"] = "Hotel Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thank you for submitting a request to become a part of our restauranteurs community! Your request is currently being reviewed!</h1>
</div>
<hr />