@model AllHotelsViewModel

@{
    this.ViewData["Title"] = "My Hotels";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<hr />
<div>
    <h3>Page @Model.PageNumber</h3>
    <div class="row row-cols-1 row-cols-md-3">
        @foreach (var hotel in Model.Hotels)
        {
            <partial name="_HotelInListPartial" model="hotel" />
        }
    </div>
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />