@model HomeIndexViewModel

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var hotel in Model.HotelsToRender)
    {
        <div class="col">
            <div class="card">
                <img src=@hotel.ImageUrl class="card-img-top" alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                    <h5>@hotel.Name</h5>
                    <hr />
                    <p class="card-text">
                        <strong>Location:</strong> @hotel.Location, @hotel.Country
                        <br />
                        <strong>Rating:</strong> @hotel.Rating.ToString("f1")
                        <br />
                        <strong>Price:</strong> $0,00 - $@hotel.Price.ToString("f2")
                    </p>
                    <button type="submit" asp-area="Hotel" asp-controller="Hotel" asp-action="" asp-route-id=@hotel.Id class="btn btn-primary">View More</button>
                </div>
            </div>
        </div>
    }
</div>