<div class="row d-flex justify-content-center">
    <form class="col-md-6" asp-controller="Home" asp-action="Search" method="get">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Where to?" aria-label="Search" aria-describedby="search-addon" name="SearchString" />
            <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
    </form>
</div>