@model HomeIndexViewModel

@using TravelGuide.Common

@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>
<hr />
    <partial name="_SearchPartial" />
<hr />
<div>
    <h3>Some 5-star hotels around the world</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var hotel in Model.HotelsToRender)
        {
            <partial name="_HotelInListPartial" model="hotel"/>
        }
    </div>
</div>
<hr />
<div>
    <h3>Some 5-star restaurants around the world</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var restaurant in Model.RestaurantsToRender)
         {
            <partial name="_RestaurantInListPartial" model="restaurant" />
         }
    </div>
</div>
