@model HomeIndexViewModel

@using TravelGuide.Common

@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>
<hr />
    <partial name="_SearchPartial" />
<hr />
<div>
    <h3>Some 5-star hotels around the world</h3>
    <partial name="_HotelsCardVisualisePartial" />
</div>
<hr />
<div>
    <h3>Some 5-star restaurants around the world</h3>
    <partial name="_RestaurantsCardVisualisePartial" />
</div>
