@model HomeIndexViewModel

@using TravelGuide.Common

@{
    this.ViewData["Title"] = $"Search resutls for '{Model.SearchString}'";
}

<div>
    <h1 class="display-4">Search Results for '@Model.SearchString'</h1>
</div>
<hr />
<div class="row">
    <form class="col-md-6" asp-controller="Home" asp-action="Search" method="get">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Where to?" aria-label="Search" aria-describedby="search-addon" name="SearchString" />
            <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
    </form>
</div>
<div class="mt-5">
    <h2>Hotels</h2>
    @if (Model.HotelsToRender.Count() != 0)
    {
        <partial name="_HotelsCardVisualisePartial" />
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div>
                <h5>No hotels matching the description were found!</h5>
            </div>
        </div>
    }
</div>  
<hr />
<div>
    <h2>Restaurants</h2>
    @if (Model.RestaurantsToRender.Count() != 0)
    {
        <partial name="_RestaurantsCardVisualisePartial" />
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="d-flex justfy-content-center align-items-center">
                <h5>No restaurants matching the description were found!</h5>
            </div>
        </div>    
    }
</div>
